.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note { 
    font-size: 15px;
    color: black;
    font-weight: bold;
}

body {
    background-size: cover;
}

.speed {
    float: left;
}

.speed-img {
    width: 200px;
    border-radius: 100px;
}

#speed-label {
    font-size: 23px;
    margin: 15px;
}

.volume {
    float: right;
}

.volume-img {
    width: 200px;
    border-radius: 100px;
}

#volume-label {
    font-size: 23px;
    margin: 15px;
}

.play-button {
    width: 150px;
    font-size: 25px;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
}
.stop-button{
    width: 150px;
    font-size: 25px;
}